<div class="full-screen-container">
  <div class="period-choosing-container">
    <app-budget-history-date-picker (chooseDatesEvent)="chooseDatesToAnalyze($event)"></app-budget-history-date-picker>
    <span class="flex-spacer"></span>
    <app-history-period-shortcut-row (periodChange)="chooseDatesToAnalyze($event)"></app-history-period-shortcut-row>
  </div>
  <app-expense-history-chart  class="expense-history-container" [expenseBalanceHistory]="expenseBalanceHistory"></app-expense-history-chart>
  <app-expense-sum-pie-chart></app-expense-sum-pie-chart> <!-- todo remove -->
</div>
