<div class="full-screen-container">
  <div class="period-choosing-container">
    <app-budget-history-date-picker (chooseDatesEvent)="chooseDatesToAnalyze($event)"></app-budget-history-date-picker>
    <span class="flex-spacer"></span>
    <app-history-period-shortcut-row (periodChange)="chooseDatesToAnalyze($event)"></app-history-period-shortcut-row>
  </div>
  <div class="expense-history-container">
    <button mat-button color="primary" class="budget-view-button" (click)="openFullBudgetView()">Full budget view</button>
    <app-expense-history-chart class="expense-history-chart-container" [expenseBalanceHistory]="expenseBalanceHistory"></app-expense-history-chart>
  </div>
</div>
