.period-choosing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.profit-history-chart-container {
  display: flex;
  width: 700px;
  height: 500px;
}

.profit-analysis-container {
  display: flex;
  flex-direction: column;
}

.analysis-buttons-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.exclude-toggle {
  width: 50%;
}

.budget-view-button {
  width: 30%;
  margin-top: auto;
}

.analysis-buttons-spacer {
  flex-grow: 3;
}
