@use '@angular/material' as mat;
@import '../../../styles.scss';

.list-header-row {
  background-color: mat.get-color-from-palette($my-primary);
}
mat-table {
  height: 100%;
}

mat-card {
  padding: 16px;
}

.header-cell {
  color: white;
  text-align: center;
}

.mat-cell-hover:hover {
  background-color: lightgray;
}

.contents-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  width: 100%;
  align-items: end;
}

.button-spacer {
  flex-grow: 3;
}
