<div class="full-screen-container">
  <div class="info-card">
    <app-info-card *ngIf="this.budget?.investment" message="This is an investment budget." icon="info"></app-info-card>
  </div>
  <div class="budget-name-container">
    <mat-card class="budget-name">
      <mat-card-content>
        <span>{{ this.budget?.name }}</span>
      </mat-card-content>
    </mat-card>
    <mat-icon *ngIf="this.budget?.favorite" color="accent">favorite</mat-icon>
  </div>
  <div class="container">
    <app-entry-list [budget]="this.budget"></app-entry-list>
    <div class="flex-spacer"></div>
    <div class="buttons-container">
      <button mat-button [ngClass]="{'add-entry-button-narrow': this.budget?.investment, 'add-entry-button': !this.budget?.investment}"
              style="color:white" (click)="openAddEntryPopup()">
        <mat-icon>add</mat-icon>
        Add entry
      </button>
      <button mat-button class="add-entry-button" style="color:white"(click)="addToFavorites()" *ngIf="!budget?.favorite">Add to favorites</button>
      <button mat-button class="add-entry-button" style="color:white" (click)="removeFromFavorites()" *ngIf="budget?.favorite">Remove from favorites</button>
      <span class="flex-spacer"></span>
      <button *ngIf="this.budget?.investment" mat-button class="update-prices-button" style="color:white" (click)="openUpdateMarketPricesPopup()">
        <mat-icon>update</mat-icon>
        Update entry market prices
      </button>
    </div>
  </div>
  <mat-card *ngIf="!this.budget?.investment">
    <mat-card-content>
      This month's total expenses:
      <span> {{ this.monthlyExpenses }} PLN</span>
    </mat-card-content>
    <mat-card-content>
      This month's balance:
      <span> {{ this.monthlyBalance }} PLN</span>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="this.budget?.investment">
    <mat-card-content>
      Total profit:
      <span> {{ this.totalProfit }} PLN</span>
    </mat-card-content>
  </mat-card>
</div>
