@use '@angular/material' as mat;
@import '../styles.scss';

.financey-sidenav {
  padding: 20px;
  background-color: mat.get-color-from-palette($my-theme);
}

.toolbar-container {
  display: flex;
  justify-content: left;
}

.toolbar-content-container {
  display: flex;
}

.equal-flex-spacer {
  flex-grow: 1;
}

.spacer {
  flex-grow: 10;
}
