@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, $default: 400);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  ),
  density: 0,
));

@include mat.core-theme($my-theme);

@include mat.button-theme($my-theme);

.full-screen-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.mat-mdc-snack-bar-container {
  &.error-snackbar {
    --mat-mdc-snack-bar-button-color: #f44336;
  }
}

