mat-card {
  width: 100%
}

mat-form-field {
  width: 60%;
  margin-left: 1em;
  margin-top: 1em;
}

mat-checkbox {
  margin-left: 0.5em;
}

.entry-amount-currency-input {
  display: flex;
  justify-content: left;
  align-items: center;
}

.amount-input {
  width: 50%;
}

.currency-input {
  width: 30%;
}
