<div class="full-screen-container">
  <div class="period-choosing-container">
    <app-budget-history-date-picker (chooseDatesEvent)="chooseDatesToAnalyze($event)"></app-budget-history-date-picker>
    <span class="flex-spacer"></span>
    <app-history-period-shortcut-row (periodChange)="chooseDatesToAnalyze($event)"></app-history-period-shortcut-row>
  </div>
  <app-expense-sum-pie-chart [categoryId]="categoryId" [investment]="true"></app-expense-sum-pie-chart>
</div>

<!--  + profit history line chart + optional toggle for excluding recent entries
todo + pie chart with currently owned (= bought, but not sold) budget percentages (how many % of a category all investment entries currently owned in each budget constitute) -->
