<button mat-button *ngIf="this.currentLevel > 0" style="color:white" class="add-button" (click)="loadPreviousTopLevelBudgets()">
  <mat-icon>arrow_back_ios_new</mat-icon>
  Back
</button>
<mat-card *ngIf="this.currentCategoryName.length !== 0" class="current-category-name">
  <mat-card-content>
    <span>{{ this.currentCategoryName }}</span>
  </mat-card-content>
</mat-card>
<section class="mat-elevation-z8">
  <table mat-table [dataSource]="topLevelBudgets">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="header-cell"> {{title}} </th>
      <!--      <td mat-cell *matCellDef="let budgetCategory" (click)="chooseBudget(budgetCategory)" class="mat-cell-hover"> {{budgetCategory.name}} </td>-->
      <td mat-cell *matCellDef="let topLevelBudget" (click)="chooseTopLevelBudget(topLevelBudget)" class="mat-cell-hover cell-with-icon">
        <div class="text-container">
          {{topLevelBudget.name}}
        </div>
        <span class="flex-spacer"></span>
        <div *ngIf="!this.isBudgetDto(topLevelBudget)" class="icon-container">
          <mat-icon>arrow_forward_ios</mat-icon>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="list-header-row"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>
