@use '@angular/material' as mat;
@import '../../../styles.scss';
.list-header-row {
  background-color: mat.get-color-from-palette($my-primary);
}
mat-table {
  height: 100%
}
.header-cell {
  color: white;
  text-align: center;
}

.mat-cell-hover:hover {
  background-color: lightgray;
}

.cell-with-icon {
  position: relative;
}

.icon-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  margin-right: 8px;
}

.text-container {
  display: inline-block;
}

.add-button {
  background-color: mat.get-color-from-palette($my-primary) !important;
}

.add-button .mat-icon{
  color: white;
}

.current-category-name {
  margin: 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
  background-color: mat.get-color-from-palette($my-primary);
  color: white;
  border-radius: 4px;
}
