.analysis-option-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main-view-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
}
