<div class="full-screen-container">
  <div class="container">
    <app-budget-category-list></app-budget-category-list>
    <span class="flex-spacer"></span>
    <div class="vertical-container">
      <button mat-button class="add-button" style="color:white" (click)="openAddCategoryPopup()">
        <mat-icon>add</mat-icon>
        Add budget category
      </button>
      <button mat-button class="add-button" style="color:white" (click)="openAddBudgetPopup()">
        <mat-icon>add</mat-icon>
        Add budget
      </button>
    </div>
  </div>
</div>
